<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css" type="text/css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <title>Foz Critica</title>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <nav>
      <div class="nav-wrapper #4db6ac teal lighten-2">
        <a href="/" class="brand-logo center">Foz Critica</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Components</a></li>
        </ul>
      </div>
      
    </nav>
    
        </div>
   